body {
    font-family: Arial;
    background-image: url("../images/creating-bg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}
.arrow {
    position: fixed;
    top: 720px;
}

.string1 {
    position: fixed;
    top: 420px;
    left: 700px;
}
.string2 {
    position: fixed;
    top: 490px;
    left: 700px;
}
.string3 {
    position: fixed;
    top: 550px;
    left: 520px;
}
.signbutton {
    position: fixed;
    top: 700px;
    right: 500px;
}