body {
    font-family: Arial;
    background-image: url("../images/file-bg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}
.arrow {
    position: fixed;
    top: 660px;
    left: 10px;
}
.qwerty{
    position: fixed;
    left: 39%;
    top: 49%
}