.question{
    font-size: 1em; /* Размер шрифта */
    color: #5a5a5a; /* Цвет заголовка */
    position: relative;
    left: 50%;
}
/*  CSS код для линии над заголовком */
.question:before {
    content: '';
    display: block;
    height: 2px; /* Высота линии */
    background: #f66d52; /* Цвет линии */
    width: 150px; /* Ширина линии до наведения */
    margin: 0 0 10px; /* Отступ с боков по центру и снизу */
    transition: 1s; /* Время, за которое линия возвращается после наведения */
}
.question:hover:before {
    width: 250px; /* Ширина линии при наведении */
    transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}
/*  CSS код для линии под заголовком */
.question:after {
    content: '';
    display: block;
    height: 2px; /* Высота линии */
    background: #f66d52; /* Цвет линии */
    width: 150px; /* Ширина линии до наведения */
    margin: 10px 0 0; /* Отступ с боков по центру и сверху */
    transition: 1s; /* Время, за которое линия возвращается после наведения */
}
.question:hover:after {
    width: 250px; /* Ширина линии при наведении */
    transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}
.button {
    display: inline-block;
    font-size: 12px;
    color: rgb(205,216,228);
    text-decoration: none;
    padding: .2em .8em;
    outline: none;
    border-right: 1px solid rgba(13,20,27,.5);
    border-top: 1px solid rgba(270,278,287,.01);
    background-color: rgb(64,73,82);
    background-image:
            radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
            radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
            linear-gradient(rgb(64,73,82), rgb(72,81,90));
    position: relative;
    left: 50%;
}
.button:hover {
    background-image:
            radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
            radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
            linear-gradient(rgb(51,60,67), rgb(58,65,72));
}
.button:focus {
    color: rgb(245,247,250);
    border-top: 1px solid rgb(67,111,136);
    background-image:
            linear-gradient(rgb(46,95,122), rgb(36,68,92));
}
.button:focus:hover {
    border-top: 1px solid rgb(49,87,107);
    background-image:
            linear-gradient(rgb(33,77,98), rgb(29,57,77));
}