a:active,
a:hover,
a {
    text-decoration: none;
    color: #f6c0c0;
}
body {
    font-family: Arial;
    background-image: url("../images/login-background.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}

.arrow {
    position: fixed;
    top: 660px;
    left: 10px;
}
.string1 {
    position: fixed;
    top: 400px;
    left: 700px;
}
.string2 {
    position: fixed;
    top: 500px;
    left: 700px;
}

.regbutton {
    position: fixed;
    top: 550px;
    left: 400px;
font-family: Arial,Helvetica,sans-serif;
font-size: 20px;
width: 200px;
height: 70px;
margin: 15px;
display: inline-block;
font-weight: bold;
color: #fff;
text-decoration: none;
text-shadow: 0 -1px rgba(0,0,0,.5);
user-select: none;
padding: .7em 1.5em;
border: 1px solid rgb(80,32,0);
border-radius: 5px;
outline: none;
background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
box-shadow:
0 6px rgb(86,38,6),
0 3px 15px rgba(0,0,0,.4),
inset 0 1px rgba(255,255,255,.3),
inset 0 0 3px rgba(255,255,255,.5);
transition: .2s;
}
.regbutton:hover {
    background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.regbutton:active {
    background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
    box-shadow:
            0 2px rgb(86,38,6),
            0 1px 6px rgba(0,0,0,.4),
            inset 0 1px rgba(255,255,255,.3),
            inset 0 0 3px rgba(255,255,255,.5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
.signbutton {
    position: fixed;
    top: 550px;
    right: 670px;

}