
.cool{
    font-family: IMPACT, serif;

}
.table {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #ffd300;
    font-size: 15px;
    background: #fff!important;
}
.table th {
    font-weight: bold;
    padding: 7px;
    background: #ffd300;
    border: none;
    text-align: left;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #ffd300;
}
.table td {
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}
.table tbody tr:nth-child(even){
    background: #f8f8f8!important;
}
left-arrow,
.right-arrow {
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.left-arrow::before,
.right-arrow::before,
.left-arrow::after,
.right-arrow::after {
    display: inline-flex;
    position: absolute;
    content: '';
}


.left-arrow::before,
.right-arrow::before {
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: gray;
}

.left-arrow::after,
.right-arrow::after {
    width: 10px;
    height: 10px;
    top: 2px;
}

.left-arrow::after {
    left: 0;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    transform: rotate(-45deg);
}

.right-arrow::after {
    right: 0;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    transform: rotate(45deg);
}