body {
    font-family: Arial;
    background-image: url("../images/reg-page.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}
.arrow {
    position: fixed;
    top: 660px;
    left: 10px;
}
.string1 {
    position: fixed;
    top: 400px;
    left: 700px;
}
.string2 {
    position: fixed;
    top: 500px;
    left: 700px;
}
.string3 {
    position: fixed;
    top: 600px;
    left: 700px;
}
.signbutton {
    position: fixed;
    top: 700px;
    right: 670px;

}