<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/creatingroom.css">
<head>
    <meta charset="UTF-8">
    <title>Создание игры</title>
</head>
<body>
<a href="/main-page"> <img src= "../images/arrow.png" class="arrow"></a>
<form th:action = "@{/creatingroom}" method = "post">
    <label class="string3">
            <span th:each="QP,state : ${QPs}">
                <div>
                    <input type="checkbox" th:value="${QP.getId()}" th:name="${state.index}"><label th:text="${QP.getName()}">text</label>
                </div>
            </span>

    </label>
    <button class="signbutton" type="submit">Создать</button>
</form>
</body>
</html>