<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/game.css">
<head>
    <meta charset="UTF-8">
    <title>Mega mentis aciem</title>
</head>
<body>
    <div th:if="${!Started}">
        <form th:action="@{/game/{question}(question = '0')}" method="post">
            <button type="submit">Начать</button>
        </form>
    </div>
<div th:if="${Started}">
    <div th:if="${Number<=10}">
    <form th:action="@{/game/{question}(question = ${Number})}" method="post">
        <div class = "question"> <span th:text = "${Question.getText()}"> text</span></div>
        <span th:each ="answer: ${Question.getAnswers()}" >
            <button class = "button" type ="submit" th:name="userAnswer" th:value ="${answer}" th:text="${answer}"> text</button>
        </span>
    </form>
    </div>
    <div th:if="${Number} > 10">
        <span th:text = "'Вы верно ответили на ' + ${CorrectAnswers} + ' из 10!'"> text</span>
        <form th:action="@{/game/finish(corrAnswers= ${CorrectAnswers})}" method="post">
            <button type="submit">ОК!</button>
        </form>
    </div>
</div>
</body>
</html>