<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проверка пакетов</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> ID Автора </th>
        <th> Название пакета </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author, state : ${Authors}">
        <td><span th:text="${author}">Author</span></td>
        <td><span > <a th:href="@{/moderation/{path}(path=${Names.get(state.index)}, authorId = ${author})}" th:text="${Names.get(state.index)}">Question packet </a></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>