<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проверка пакета</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Текст </th>
        <th> Правильный ответ </th>
        <th> Количество неверных ответов </th>
        <th> Н/О 1</th>
        <th> Н/О 2</th>
        <th> Н/О 3</th>
        <th> Н/О 4</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="question: ${Questions}">
        <td><span th:text="${question[0]}"> text </span></td>
        <td><span th:text="${question[1]}"> text </span></td>
        <td><span th:text="${question[2]}"> text </span></td>
        <td><span th:text="${question[3]}"> text </span></td>
        <td><span th:text="${question[4]}"> text </span></td>
        <td><span th:text="${question[5]}"> text </span></td>
        <td><span th:text="${question[6]}"> text </span></td>
    </tr>
    </tbody>
</table>
<form th:action = "@{''( authorId = ${AuthorId})}" method = "post">
    <button type="submit" th:name="approved" th:value="true" >Одобрить</button>
    <button type="submit" th:name="approved" th:value="false">Отклонить</button>
</form>

</body>
</html>