<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/rate.css">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th  class="cool"> Рейтинг MMA </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="position: ${rating}">
        <td><span th:text="${position.getUsername()}"> Title </span></td>
        <td><span th:text="${position.getRating()}"> Rating </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>