<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="/css/f-pg.css">
<body>
<a href="/main-page"> <img src= "../images/arrow.png" class="arrow"></a>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <table class = "qwerty">
            <tr><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Загрузить" /></td></tr>
        </table>
    </form>
</div>


</body>
</html>